/** @format */

.wrapper {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.mainSection {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.gallery {
    display: flex;
    gap: 20px;
    flex: 1;
    min-width: 400px;
    align-items: flex-start;
}

.thumbs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumb {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
    transition: opacity 0.3s ease;
}

.thumb:hover {
    opacity: 0.8;
}

.activeThumb {
    border-color: #b5b5b5;
}

.mainImage img {
    width: 500px;
    border-radius: 8px;
}

.info {
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sizesLabel {
    margin-bottom: 0;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.price {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.sizes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sizeList {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.addButton {
    padding: 12px 50px;
    width: fit-content;
}

.sizeButton {
    padding: 10px 15px;
}

.description {
    font-size: 16px;
}

.descText {
    line-height: 1.3;
    opacity: 0.75;
    text-align: justify;
}

.relatedBlock {
    margin-top: 60px;
}

.relatedTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.relatedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
